/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */

  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);

  /**
   * typography
   */

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /**
   * border-radius
   */

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /**
   * transition 
   */

  --transition-timing: 0.2s ease;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img,
ion-icon,
button,
a {
  display: block;
}

span {
  display: inline-block;
}

html {
  font-family: "Poppins", sans-serif;
  overscroll-behavior: contain;
}

input {
  display: block;
  width: 100%;
  font: inherit;

  &::placeholder {
    font: inherit;
  }
}

body {
  background: var(--white);

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background: var(--white);
    border-left: 1px solid var(--cultured);
  }

  &::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border: 3px solid var(--white);
    border-radius: 10px;

    &:hover {
      background: hsl(0, 0%, 70%);
    }
  }
}

/**
 * scrollbar style
 */

/*-----------------------------------*\
  #PRODUCT FEATURED
\*-----------------------------------*/

.product-featured {
  margin-bottom: 30px;

  .showcase-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
  }

  .showcase-container {
    min-width: 100%;
    padding: 30px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    scroll-snap-align: start;
  }

  .showcase-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .showcase-content {
    margin-top: 30px;
  }

  .showcase-rating {
    color: var(--sandy-brown);
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .showcase-title {
    font-size: var(--fs-7);
    color: var(--eerie-black);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    margin-bottom: 3px;
  }

  .showcase-desc {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    font-weight: var(--weight-300);
    margin-bottom: 10px;
  }

  .price-box {
    font-size: var(--fs-3);
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  .price {
    color: var(--salmon-pink);
    font-weight: var(--weight-700);
  }

  del {
    color: var(--sonic-silver);
    font-weight: var(--weight-300);
  }

  .add-cart-btn {
    background: var(--salmon-pink);
    padding: 8px 15px;
    color: var(--white);
    font-weight: var(--fs-9);
    font-weight: var(--weight-700);
    text-transform: uppercase;
    border-radius: var(--border-radius-md);
    margin-bottom: 15px;
    transition: var(--transition-timing);

    &:hover {
      background: var(--eerie-black);
      color: var(--white);
    }
  }

  .showcase-status {
    margin-bottom: 15px;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--eerie-black);
      font-size: var(--fs-9);
      font-weight: var(--weight-400);
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }

  .showcase-status-bar {
    background: var(--cultured);
    position: relative;
    height: 10px;
    border-radius: 5px;

    &::before {
      position: absolute;
      content: "";
      top: 3px;
      left: 3px;
      height: 4px;
      width: 40%;
      background: var(--salmon-pink);
      border-radius: 4px;
    }
  }

  .countdown-desc {
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .countdown {
    display: flex;
    gap: 5px;
  }

  .countdown-content {
    padding: 5px;
    background: var(--cultured);
    border-radius: var(--border-radius-md);
    text-align: center;
  }

  .display-number {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-500);
    min-width: 40px;
  }

  .display-text {
    color: var(--davys-gray);
    font-size: var(--fs-11);
  }
}

/*-----------------------------------*\
  #PRODUCT GRID
\*-----------------------------------*/

.product-main {
  margin-bottom: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;

  .showcase {
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    transition: var(--transition-timing);

    &:hover {
      box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    }
  }

  .showcase-banner {
    position: relative;
  }

  .product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-timing);

    &.default {
      position: relative;
      z-index: 1;
    }

    &.hover {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 0;
    }
  }

  .showcase:hover .product-img {
    &.hover {
      opacity: 1;
    }

    &.default {
      opacity: 0;
    }

    transform: scale(1.1);
  }

  .showcase-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--ocean-green);
    font-size: var(--fs-8);
    font-weight: var(--weight-500);
    color: var(--white);
    padding: 0 8px;
    border-radius: var(--border-radius-sm);
    z-index: 3;

    &.angle {
      top: 8px;
      left: -29px;
      transform: rotate(-45deg);
      text-transform: uppercase;
      font-size: 11px;
      padding: 5px 40px;
    }

    &.black {
      background: var(--eerie-black);
    }

    &.pink {
      background: var(--salmon-pink);
    }
  }

  .showcase-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    transform: translateX(50px);
    transition: var(--transition-timing);
    z-index: 3;
  }

  .showcase:hover .showcase-actions {
    transform: translateX(0);
  }

  .btn-action {
    background: var(--white);
    color: var(--sonic-silver);
    margin-bottom: 5px;
    border: 1px solid var(--cultured);
    padding: 5px;
    border-radius: var(--border-radius-sm);
    transition: var(--transition-timing);

    &:hover {
      background: var(--eerie-black);
      color: var(--white);
      border-color: var(--eerie-black);
    }
  }

  .showcase-content {
    padding: 15px 20px 0;
  }

  .showcase-category {
    color: var(--salmon-pink);
    font-size: var(--fs-9);
    font-weight: var(--weight-500);
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .showcase-title {
    color: var(--sonic-silver);
    font-size: var(--fs-8);
    font-weight: var(--weight-300);
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 10px;
    transition: var(--transition-timing);

    &:hover {
      color: var(--eerie-black);
    }
  }

  .showcase-rating {
    display: flex;
    color: var(--sandy-brown);
    margin-bottom: 10px;
  }

  .price-box {
    display: flex;
    gap: 10px;
    font-size: var(--fs-7);
    color: var(--eerie-black);
    margin-bottom: 10px;
  }

  .price {
    font-weight: var(--weight-700);
  }

  del {
    color: var(--sonic-silver);
  }
}

/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

/**
 * responsive larger than 480px screen
 */

@media (min-width: 480px) {
  /**
   * #CUSTOM PROPERTY
   */

  :root {
    /**
     * typography 
     */

    --fs-1: 1.875rem;
  }

  /**
   * #PRODUCT 
   */

  .product-grid {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

/**
 * responsive larger than 570px screen
 */

@media (min-width: 570px) {
  /**
   * #PRODUCT
   */

  .product-minimal .showcase-container {
    min-width: 50%;
  }

  .product-featured {
    .showcase-img {
      max-width: 450px;
      margin: auto;
    }

    .countdown {
      gap: 20px;
    }
  }
}

/**
 * responsive larger than 768px screen
 */

@media (min-width: 768px) {
  /**
   * #CUSTOM PROPERTY
   */

  :root {
    /**
     * typography 
     */

    --fs-1: 2.375rem;
  }

  /**
   * #PRODUCT 
   */

  .product-minimal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .product-showcase {
      min-width: calc(50% - 10px);
      width: calc(50% - 10px);
    }

    .showcase-container {
      min-width: 100%;
    }
  }

  .product-featured {
    .showcase {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    .showcase-img {
      max-width: fit-content;
    }

    .showcase-content {
      margin-top: 0;
      min-width: calc(100% - 345px);
    }
  }
}

/**
 * responsive larger than 1024px screen
 */

@media (min-width: 1024px) {
  /**
   * #CUSTOM PROPERTY
   */

  :root {
    /**
     * typography 
     */

    --fs-1: 2.625rem;
    --fs-2: 1.125rem;
  }

  /**
   * #PRODUCT 
   */

  .product-container .container {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
  }

  .product-box {
    min-width: calc(75% - 15px);
  }

  .product-minimal {
    margin-bottom: 20px;

    .product-showcase {
      min-width: calc(33.33% - 14px);
      width: calc(33.33% - 14px);
      flex-grow: 1;
    }

    .showcase-wrapper {
      gap: 10px;
    }

    .showcase-container {
      padding: 2px;
    }
  }

  .product-featured .countdown-content {
    padding: 5px 10px;
  }

  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/**
 * responsive larger than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * #REUSED STYLE 
   */

  .container {
    max-width: 1200px;
  }

  /**
   * #PRODUCT
   */

  .product-featured {
    .showcase > div {
      min-width: calc(50% - 10px);
    }

    .display-number {
      --fs-5: 1.125rem;
    }
  }

  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/**
 * responsive larger than 1400px screen
 */

@media (min-width: 1400px) {
  .container {
    max-width: 1350px;
  }
}
